:root {
    --md-theme-default-primary-on-background: #f5533d;
    --md-theme-default-background: #efefef;
}
body {
    .el-select {
        width: 110px;
        .el-input__suffix {
            line-height: 30px;
        }
    }
    .el-color-picker__mask {
        background-color: rgba(0,0,0,.5);
    }
    .el-color-picker__trigger {
        padding: 0;
    }
    .el-color-picker {
        vertical-align: middle;
    }
    .el-color-picker__trigger {
        border-color: #5a5a5a;
    }
    .el-color-picker__color {
        border: 4px solid #404040;
    }
    .el-slider__bar {
        background-color: #9a9a9a;
    }
    .el-slider__runway {
        background: #333;
    }
    .el-slider__button {
        border-color: #cecece;
        background-color: #404040;
    }
    .el-input__inner {
        padding: 0 8px;
        border-color: #757575;
        color: #ccc;
        background-color: #404040;
    }
    .el-input.is-disabled .el-input__inner {
        background: #505050;
        border-color: #636363;
        color: #999;
    }
    .el-input-number.is-disabled .el-input-number__decrease, 
    .el-input-number.is-disabled .el-input-number__increase,
    .el-input-number.is-disabled .el-input-number__decrease:hover, 
    .el-input-number.is-disabled .el-input-number__increase:hover {
        border-color: #636363;
        color: #999;
    }
    .el-input-number__decrease,
    .el-input-number__increase {
        background: #505050;
        color: #ccc;
        border-color: #636363;
    }
    .el-input-number__decrease:hover,
    .el-input-number__increase:hover {
        color: #999;
    }
    .el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
    .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
    .el-select .el-input.is-focus .el-input__inner {
        border-color: #999;
    }
    .el-switch__core {
        background: #333333;
        border-color: #666;
        .el-switch__button {
            background: #666;
        }
    }
    .el-switch.is-checked .el-switch__core {
        border-color: #cecece;
        background-color: #555;
        .el-switch__button {
            background: #999;
        }
    }

    ::-webkit-scrollbar {
        height: 10px;
        overflow: visible;
        width: 6px;
    }
    ::-webkit-scrollbar-corner {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #333;
        background-clip: padding-box;
        border: 1px solid #666;
        border-width: 1px 1px 1px 1px;
        min-height: 28px;
        max-height: 100px;
        padding: 10px 0 0;
        box-shadow: inset 0px 0px 2px rgba(256, 256, 256, 0.25);
    }
}